nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    button{
        background: transparent;
        padding: 10px;
        border: 2px solid #6565;
        cursor: pointer;
        border-radius: 10px;
        transition: all .3s ease-in;
        &:hover{
            background-color: #656565;
            color: #fff;
        }
        &:active,&:focus{
            outline: none;
        }
    }
}

@media (max-width:765px){
    button{
        z-index: 20;
    }
}
