.song-container {
  min-height: 60vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  img {
    width: 20%;
    border-radius: 50%;
    margin: 3rem 1rem 1rem 1rem;
  }
  h1 {
    padding: 1rem;
  }
  h3 {
    font-size: 1.5rem;
    color: rgb(105, 100, 100);
  }
}

@media (max-width:765px){
  .song-container{
    img{
      width: 80%;
    }
  }
}